@font-face {
    font-family: 'Circe';
    src: url('fonts/Circe-ExtraBold.eot');
    src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
    url('fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Circe-ExtraBold.woff') format('woff'),
    url('fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
